.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 88vh;
}

.main {
    display: flex;
    align-items: center;
    flex: 1;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: center;
    
}

.title{
    display: flex;
    width: 600px;
    height: fit-content;
    font-size: 64px;
    font-weight: bold;
    color: var(--elegant-green)
    
}

.semiTitle{
    display: flex;
    width: 600px;
    height: fit-content;
    font-weight: lighter;

    font-size: 40px;
    margin-top: 16px;
    
}

.buttonDiv {
    margin-top: 64px;
}

/* Back Button */
.backButton {
    background-color: var(--dark-blue); /* Use global color */
    color: var(--white); /* Use global color */
    padding: 0.5rem 0.5rem; /* px-2 py-1 */
    border-radius: 0.5rem; /* rounded */
    outline: none; /* outline-none */
    font-size: 32px;
}

/* Back Button Hover and Focus States */
.backButton:hover,
.backButton:focus {
    background-color: var(--button-grey); /* Custom hover/focus color */
    color: var(--dark-blue); /* Use global color */

}