.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center elements vertically */
    width: 100%; /* Full width of the page */
    border: 2px solid var(--basic-grey); /* Using a dark blue border */
    padding: 8px; /* Adding internal spacing */
    box-sizing: border-box; /* Includes padding and border in total width */
}

.logo_title_wrapper {
    display: flex;
    align-items: center; /* Center the logo and title vertically */
}

.title {
    display: flex;
    text-decoration: none;
}

.logo_title_wrapper a {
    text-decoration: none; /* Remove underline from link */
}

.logo_title_wrapper h1 {
    margin-left: 12px;
    padding-top: 0; /* Adjusts alignment */
    color: var(--dark-blue); /* Dark Blue for the title */
    text-decoration: none; /* Ensure there's no underline on the title */
}

.buttons_wrapper {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    flex-grow: 1; /* Push buttons to the right */
    margin-bottom: 8px; /* Space between buttons and the bottom edge */
}

.sign_in,
.register {
    text-decoration: none; /* Remove underline from links */
    color: var(--white); /* White text for contrast */
    padding: 0.5rem 1rem; /* Increased padding for button height */
    border-radius: 0.25rem;
    outline: none;
    margin-right: 10px; /* Space to the left of the Register button */
    display: flex; /* Center text */
    align-items: center; /* Center text vertically */
    transition: background-color 0.3s; /* Smooth transition for hover */
}

/* Define button colors */
.sign_in {
    background-color: var(--dark-blue); /* Dark Blue background */
}

.sign_in:hover,
.sign_in:focus {
    background-color: var(--button-blue-light); /* Change to lighter blue on hover/focus */
}

.register {
    background-color: var(--basic-grey); /* Grey background */
    color: var(--dark-blue); /* Dark blue text for visibility */
}

.register:hover,
.register:focus {
    background-color: var(--button-blue); /* Change to Custom Button Blue on hover/focus */
    color: var(--white); /* Keep text white on hover for contrast */
}
