.container {
  background-color: var(--white);
  color: var(--black);
  padding: 20px;
}

.title {
  color: var(--dark-blue);
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.subtitle {
  color: var(--black);
  font-size: 1.5em;
  margin-bottom: 15px;
}

.post {
  border: 1px solid var(--dark-blue);
  border-radius: 8px;
  padding: 15px;
  margin: 15px 0;
  background-color: rgba(255, 255, 255, 0.9); /* Adjust transparency as needed */
}

.post-title {
  color: var(--dark-blue);
  font-weight: bold;
  margin: 0;
  font-size: 1.2em;
}

.post-user {
  color: var(--black);
  font-size: 0.9em;
  margin: 5px 0;
}

.post-content {
  color: var(--black);
  font-size: 1em;
  margin-top: 8px;
}

.form {
  margin-top: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: var(--dark-blue);
  font-weight: bold;
}

.input, .textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--basic-grey);
  border-radius: 4px;
  background-color: var(--basic-grey);
  color: var(--black);
  font-size: 1em;
}

.button {
  background-color: var(--button-blue);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--button-blue-dark);
}
