:root {
    /* Global Color Palette */
    --elegant-green: #6eb257;
    --dark-green: #15803d;
    --teal-green: #00695c;
    --white: #ffffff;
    --black: #000000;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 88vh;
    background-color: var(--white);
    background-color: var(--white);
}

/* Main Section */
.main {
    display: flex;
    flex: 1;
}

/* Content Section */
.content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

/* Grid Layout */
.grid {
    flex: 1;
}

/* Content Section */
.content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

/* Grid Layout */
.grid {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 8%;
}

/* Card Styling */
.card {
    text-align: center;
    cursor: pointer;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 8%;
}

/* Card Styling */
.card {
    text-align: center;
    cursor: pointer;
}

/* Role Title */
.roletitle {
    font-size: 32px;
    color: var(--elegant-green);
}

/* Account Type Image */
.accoutn_type {
    width: 280px;
    height: 280px;
    border-radius: 50%;
}
/* Role Title */
.roletitle {
    font-size: 32px;
    color: var(--elegant-green);
}

/* Account Type Image */
.accoutn_type {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-bottom: 8px;
    border: 3px solid var(--teal-green);
    border: 3px solid var(--teal-green);
    object-fit: cover;
}

.nameAndRole {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-left: 16px;
    justify-content: start;
}

.editWrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    height: fit-content;
    width: 100%;
    justify-content: space-between;
}

.editDropWrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    height: fit-content;
    width: 100%;
    justify-content: space-between;
}

.editIcon {
    width: 20px;
    height: 20px;
}

.name {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: transparent;
}

.role {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: #00695c;
    background-color: transparent;
}

/* Back Button */
.backButton {
    background-color: #6eb257;
    color: #000000; /* text-white */
    padding: 0.5rem 0.5rem; /* px-2 py-1 */
    border-radius: 0.5rem; /* rounded */
    outline: none; /* outline-none */
    font-size: 24px;
    height: fit-content;
    width: fit-content;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    

}

/* Back Button Hover and Focus */
.backButton:hover,
.backButton:focus {
    background-color: var(--dark-green);
}